.CFUserTextEncoding
.DS_Store
.Trash/
.adobe/
.bash_history
.bash/private_aliases
.bash_profile.macports-saved_2013-03-02_at_17:52:01
.bower/
.cups/
.dbshell
.dropbox/
.forever/
.gem/
.gitattributes
.gvimrc
.heroku/
.httpie/
.inputrc
.irb_history
.irssi/
.lesshst
.mongorc.js
.netrc
.node-gyp/
.npm/
.npmrc
.nvm/
.rediscli_history
.rnd
.sqlite_history
.ssh/
.subversion/
.swp
.vim-fuf-data/
.vim/.DS_Store
.viminfo
.nw-gyp
.config
.histfile
Desktop/
Documents/
Downloads/
Dropbox/
Library/
Movies/
Music/
Pictures/
Websites/
things\ to\ do\ this\ year/
.cache
.vim/.netrwhist
.siriproxy
